@import "styles/mixins/media-queries";

.navContainer {
	flex-direction: column;
	background-color: var(--white);
	padding: 0 20px;
}

.controlsGroup {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.linksGroup {
	display: none;
}

@include media(">tablet") {
	.navContainer {
		display: flex;
		justify-content: flex-end;
	}
}