@import "styles/mixins/media-queries";

.burgerButton {
  padding: 9px 0;
  cursor: pointer;

  @include media(">tablet") {
    display: none;
  }
}

.burgerBarTop, .burgerBarMiddle, .burgerBarBottom {
  width: 35px;
  height: 3px;
  background-color: var(--black);
  margin: 6px 0;
  transition: 0.4s;
}

.burgerBarTopToggled {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.burgerBarMiddleToggled {
  opacity: 0;
}

.burgerBarBottomToggled {
  -webkit-transform: rotate(45deg) translateY(0px);
  transform: rotate(45deg) translateY(0px);
}