.formControl {
  margin-bottom: 5px;
}

.input {
  width: 100%;

  &:focus {
    border-color: var(--input-focus) !important;
  }
}

.formControlCheckbox {
  height: 25px;
  margin-bottom: 5px;
}

.checkbox {
  float: left;
  margin: 7px 10px 7px 0;
}

.labelCheckbox {
  margin-bottom: 0;
  float: left;
}

.error {
  color: $failure-print;
  font-size: 14px;
  margin: 0;
}

.errorCheckbox {
  color: $failure-print;
  font-size: 14px;
  margin-bottom: 5px;
  float: left;
}