:root {
	--white: #fff;
	--light-gray: #f9f9f9;
	--medium-gray: #b9b9b9;
	--dark-gray: #696969;
	--black: #525252;

	--success-print: #077500;
	--success-background: #c9f5c6;

	--failure-print: #8c0d0d;
	--failure-background: #ffdfdf;

	--valid: #07c600;
	--invalid: #f95151;

	--link-highlight: #1EAEDB;

	--input-focus: #b1d3f7;
}