h2, h3, h4, p, li, a, button, label {
	font-family: "Roboto", "Helvetica Neue", san-serif;
}

h1 {
	font-family: 'Saira Stencil One', "Roboto", "Helvetica Neue", san-serif;
	font-size: 40px;
}

h2 {
	font-size: 36px;
}

label {
	font-size: 16px;
}

button {
	font-size: 14px;
}

$robot-reg: (
	s16: 18,
);

@mixin roboto($size) {
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	font-size: $size + px;
	line-height: map_get($robot-reg, s+$size) + px;
	font-weight: 400;
}